.app {
    flex: 1;
    width: 90%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 700;
    line-height: 4em;
}

.no-data {
    display: flex;
    justify-content: center;
    color: #979899;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.movie-results {
    margin-top: 25px;
}

.poster-section {
    display: flex;
    width: 35%;
}

.poster {
    width: 130px;
}

.movie-desc {
    width: 65%;
}

.title {
    margin: 0;
}

.movie-id {
    color: #979899;
    font-size: 12px;
}

.overview {
    text-align: justify;
    font-size: 14px;
}

.read-more, .read-less {
    color: #999;
}

.review-section {
    display: flex;
}

.review-count {
    color: #979899;
    font-size: 12px;
    margin-top: 10px;
}
